<div class="container pt-2 pb-2">
    <div class="row justify-content-between">
        <p class="mb-0"><strong>Filters:</strong></p>
        <form (ngSubmit)="onFilter()" #form="ngForm" class="d-flex align-items-center justify-content-between">

            <div class="form-group d-flex align-items-center justify-content-between m-0">
                <label for="status" class="mb-0">Status</label>
                <select class="form-control ml-4 mr-3" required ngModel name="status" #status="ngModel">
                    <option *ngFor="let status of statuses" [value]="status.value">{{status.name}}</option>
                </select>
            </div>
            <div class="form-group d-flex align-items-center justify-content-between m-0">
                <label for="user" class="mb-0">User</label>
                <select class="form-control ml-4 mr-3" required ngModel name="user">
                  <option *ngFor="let user of users" [value]="user.username">{{user.username}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary ml-4 mr-3">Filter</button>
            <button type="button" class="btn btn-primary ml-4" (click)="onResetFilters()">Cancel Filters</button>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Target Date</th>
            <th>Created by</th>
            <th>Priority</th>
            <th>Type</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            <td>{{todo.description}}</td>
            <td>{{todo.targetDate | date}}</td>
            <td>{{todo.user.username}}</td>
            <!-- | pipe -->
            <td>{{todo.priority}}</td>
            <td>{{todo.type}}</td>
            <td>{{todo.status}}</td>
            <td><button class="btn btn-danger" [disabled]="isDeleteDisabled(todo)" (click)="onDeleteToDo(todo.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
<div class="alert alert-success text-center" *ngIf="message">
    {{message}}
</div>
